<div class="row">
    <!-- START NEW GAME CARD -->
    <div class="col-sm-12 col-lg-6">
        <div class="card my-2">
            <div class="card-header text-white bg-success">
                <h5 class="m-0">Start New Game!</h5>
            </div>
            <div class="card-body">
                Sit down, strap in, get ready... It's game time!
            </div>
            <div class="card-footer p-0">
                <svg class="bi bi-chevron-right float-right m-3" style="cursor:pointer" fill="currentColor" height="1em" width="1em" viewBox="0 0 16 16" (click)="startNewGame()">
                    <path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
    <!-- GAME HISTORY CARD -->
    <div class="col-sm-12 col-lg-6">
        <div class="card my-2">
            <div class="card-header text-white bg-warning">
                <h5 class="m-0">Game History</h5>
            </div>
            <div class="card-body">
                Relive your best and brightest<sup>(and dimmest)</sup> moments!
            </div>
            <div class="card-footer p-0">
                <svg class="bi bi-chevron-right float-right m-3" style="cursor:pointer" fill="currentColor" height="1em" width="1em" viewBox="0 0 16 16">
                    <path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
    <!-- RESUME GAME CARD -->
    <div class="col-sm-12 col-lg-6">
        <div class="card my-2">
            <div class="card-header text-white bg-danger">
                <h5 class="m-0">Resume Last Game!</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label><strong>Last Question Answered:</strong> #7</label>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label><strong>Questions Remaining:</strong> 3</label>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label><strong>Right Answers:</strong> 4</label>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label><strong>Wrong Answers:</strong> 3</label>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
                <svg class="bi bi-chevron-right float-right m-3" style="cursor:pointer" fill="currentColor" height="1em" width="1em" viewBox="0 0 16 16">
                    <path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
    <!-- PROFILE CARD -->
    <div class="col-sm-12 col-lg-6">
        <div class="card my-2">
            <div class="card-header text-white bg-secondary">
                <h5 class="m-0">Profile</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label class="card-text"><strong>Name:</strong> {{player.name}}<sup>(that's you!)</sup></label>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label class="card-text"><strong>Total Rounds Played:</strong> 10</label>
                    </div>
                    <div class="col-12">
                        <label class="card-text"><strong>Longest Correct Answer Streak:</strong> 12</label>
                    </div>
                    <div class="col-12">
                        <label class="card-text"><strong>Longest Incorrect Answer Streak:</strong> 20</label>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
                <svg class="bi bi-chevron-right float-right m-3" style="visibility: hidden" fill="currentColor" height="1em" width="1em" viewBox="0 0 16 16">
                    <path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>