<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect from account/create to landing page" stopProcessing="true">
					<match url="account/create$" ignoreCase="true" />
					<action type="Redirect" url="/mainmenu" redirectType="Permanent" />
				</rule>
				<rule name="Redirect from account/login to landing page" stopProcessing="true">
					<match url="account/login$" ignoreCase="true" />
					<action type="Redirect" url="/mainmenu" redirectType="Permanent" />
				</rule>
				<rule name="Redirect from player/menu to landing page" stopProcessing="true">
					<match url="player/menu" ignoreCase="true" />
					<action type="Redirect" url="/mainmenu" redirectType="Permanent" />
				</rule>
				<rule name="Redirect from player/history to landing page" stopProcessing="true">
					<match url="player/history$" ignoreCase="true" />
					<action type="Redirect" url="/mainmenu" redirectType="Permanent" />
				</rule>
				<rule name="Redirect from play to landing page" stopProcessing="true">
					<match url="play$" ignoreCase="true" />
					<action type="Redirect" url="/mainmenu" redirectType="Permanent" />
				</rule>
				<rule name="Redirect from play/guest to landing page" stopProcessing="true">
					<match url="play/guest$" ignoreCase="true" />
					<action type="Redirect" url="/mainmenu" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>