<div class="row mt-5">
    <div class="col-12 text-center my-1">
        <button class="btn btn-lg btn-outline-primary" [routerLink]="['/account/login']">Login</button>
    </div>
    <div class="col-12 text-center my-1">
        <button class="btn btn-lg btn-outline-secondary" [routerLink]="['/account/create']">Create Account</button>
    </div>
    <div class="col-12 text-center my-1">
        <button class="btn btn-lg btn-outline-success" [routerLink]="['play/guest']">Play As Guest</button>
    </div>
</div>